csim
.vscode
espSensorModule_csim
build-*.sh
.vscode
spiff
csim
*_csim
*.out
build
build-*
firmware.ver
gnuplot.dat
planedata.dat
rdata.log
update.bin

quick-*.sh
*.bin
*.dat
fs
out
f/
jimlib
*.out.*
*.mk
